<div>
        <div class="img-container">
                <img class="img" src="assets/images/r.png" alt="Unable to Load!" height="80" width="80"/>
        </div>
        <div class="div-left">
                <h1 class = "head">Sample App</h1>
        </div>
</div>
<hr/>
{{outlet}}
